body
{
    background-color: #BD3B1F;
    text-align: center;
    font-family: 'Comic Neue', cursive;
 
    padding: 40vh;
    padding-top: 20vh;
}

nav
{
    background-color: #CC7E00;
    color: white;
    padding: 1%;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.aboutText
{
    line-height: 30px;
}

.main
{
    background-color: #F5E9CD;
    flex-direction: column;
    display: flex;
    padding-bottom: 10vh;
    padding-top: 3vh;
    border-radius: 5px;
}

@media only screen and (max-width:1000px)
{
    body
    {
        padding: 10vh;
    }
}