body
{
    background-color: #DFCCFB;
    text-align: center;
    font-family: 'Comic Neue', cursive;
}

nav
{
    background-color: #D0BFFF;
    color: white;
    padding: 1%;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.aboutText
{
    line-height: 30px;
}